[submodule "third_party/nerfstudio"]
	path = third_party/nerfstudio
	url = https://github.com/nerfstudio-project/nerfstudio.git
[submodule "third_party/metrabs"]
	path = third_party/metrabs
	url = https://github.com/isarandi/metrabs.git
[submodule "third_party/ESAM"]
	path = third_party/ESAM
	url = https://github.com/xuxw98/ESAM.git
[submodule "third_party/HybrIK"]
	path = third_party/HybrIK
	url = https://github.com/jeffffffli/HybrIK.git
